*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

.box{
    margin-left: 500px;
    padding-bottom: 400px;
    position: relative;
    width: 600px;
    height: 1000px;
    background: transparent;
    border-radius: 30px;
    justify-content: center;
}
.form {
    position: absolute;
    inset: 2px;
    background: none;
    z-index: 10;
    padding: 130px 50px;
    display: flex;
    flex-direction: column;
}

.form-input-box {
    border: solid;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 0 45px;
}

.form h1 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.inputBox {
    position: relative;
    width: 350px;
    margin-top: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
    font-family: 'Times New Roman', Times, serif;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #000000;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #121df4;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.9em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;

}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 30px;
}

.a {
    margin: 10px 0;
    font-size: 00.75em;
    color: #1e1c1c;
    text-decoration: none;
}

.links a :hover,
.links a:nth-child(2) {
    color: #252222;
}

input[type="submit"] {
    border: 20px;
    background-color: #000000;
    padding: 11px 25px;
    width: 100px;
    margin: top 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.input{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    width: 40px;
    margin-top: 34px;

}
input[type="select"]{
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    width: 120px;
    margin: 100px;
}
nav{

    background: #097c96;
    line-height: 80px;
    position: fixed;
    width: 100%;
    border-radius: 2px;
}

nav i{
    color: rgb(200, 188, 172);
    font-size: 29px;
    margin-right: 29px;
    
}


label{
     
    line-height: 70px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-weight: 200;
    margin-left: 30px;
    cursor:pointer;
}

label i{

    color: antiquewhite;
    font-size: 29px;
    margin-right: 29px;
    
}

.side-menu{

    position: fixed;
    background: #1a9dac;
    width: 250px;
    height: 100%;
    margin-top: 80px;
}

.side-menu a{

    display: block;
    line-height: 60px;
 
    transition: 0.5s;
}

.side-menu a:hover{

    background: #0de982;
    padding-left: 20px;

}

.side-menu span{
     font-size: 20px;
     margin-left: 10px;
     color: rgb(0, 0, 0);
}

.side-menu i{

    font-size: 20px;
    margin-left: 20px;
    color: rgb(216, 188, 251);
}

nav .menu-bar{

    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}

#menu{
    display: none;
}

@media (max-width:850px){

   
    .side-menu{

        width: 100px;
    }

    .side-menu a i{
        
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px:
    }
}
input[type="submit"] {
    background-color: #4c8dae;
    padding:  10px 100px;
    margin-bottom: 50px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    text-align: center;
    display: inline-block;
    width: 250px;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #349dbdd2;
    color: #ffffff;
    border: 2px solid #04020e;
}
.input h5{
    font-size: 16px;
    padding: 2px;
}