*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("images/home4.jpg");
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #190535;
}
p{
    color: #190535;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
   
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #053533;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background:#eacbcb ;
}
.header{
    background: radial-gradient(rgba(7, 45, 100, 0.868),#128f7e);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.small-container h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-color:#190535;
}
.content{
    margin: 0 auto ;
    padding: 0px 300px;
    background-color: #b6eedf;
    font-family: 'Times New Roman', Times, serif;
}
.content h1{
    text-align: center;
	margin: 50px 0;
}
.team-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team-member {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 40px;
	text-align: center;
}

.team-member img {
	width: 100%;
	height: auto;
	border-radius: 75%;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.team-member {
		flex-basis: calc(50% - 20px);
	}
}

@media (max-width: 480px) {
	.team-member {
		flex-basis: 100%;
	}
}
footer{
    background: #171920;
    padding: 15px;
    margin-bottom: 7px;
}
footer p{
    color: #fff;
    text-align: center;
}
.card {
	max-width: 200px;
	margin: 50px auto;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 5px;
	border-radius: 10px;
	text-align: center;
}

.card img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 2px;
}

.card h3 {
	font-size: 14px;
	margin-bottom: 6px;
}

.card p {
	font-size: 16px;
	margin-bottom: 20px;
}

.card a {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
}

.card a:hover {
	background-color: #0069d9;
}

@media (max-width: 700px) {
	.card {
		max-width: 75%;
		margin: 50px 20px;
	}
}