*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("images/home4.jpg");
}
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
    background-color: #24cba7;
    margin-top: 10px;
}
nav{
    flex: 1;
    text-align: right;
 }
nav ul{
    display: inline-block;
    list-style-type:none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #072a48c7;
    font-weight: bold;
}
p{
    color: #0e031e;
}
.container{
    max-width: 2000px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding-left: 200px;
    padding-right: 90px;  
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
   
    background: #053533;
    color:#fff;
    padding: 10px 15px;
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover{
    background:#eacbcb ;
}
.header{
    background: radial-gradient(rgba(7, 45, 100, 0.868),#128f7e);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container-1 h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-color:#190535;
     
}
.content{
    margin: 0 auto ;
    padding: 0px 300px;
    background-color: #44a059bb;
    font-family: 'Times New Roman', Times, serif;
}
.content h1{
    text-align: center;
    margin-bottom: 55px;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}
.team-members {
	display: flex;
    text-align: center;
    width: auto;	
    justify-content: space-around;
    flex-direction: wrap;
    min-height: 150px;
    padding: 100px;

}

.team-members .team-member {
    background-color: #fff;
    margin: 5px;
	margin-bottom: 80px;
    width: 300px;	
    padding: 30px;
    line-height: 20px;
    position: relative;
    color: #171920;
    font-weight: 100;
}
.team-members .team-member h3{
    color: #033325;
    font-size: 24px;
    margin-top: 50px;
}
.team-members .team-member .team-img {
    width: 150px;
    height: 150px;
	border-radius: 50%;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}
.team-members .team-member .team-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
   background-color: #7de67ccd;
}
.team-members .team-member i{
    font-size: 20px;
    padding: 5px;
    color: #1db0b0;
}
footer{
    background: #171920;
    padding: 15px;
    margin-bottom: 7px;
}
footer p{
    color: #fff;
    text-align: center;
}
.small-container-1 swiper{
    width: 100%;
   justify-content: center;
    min-height: 1200vh;
    padding: 60px 0; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.card{
   
    border-radius: 25px;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color:#4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all  0.3s ease;
}
.button hover{
    background: #265DF2;
}
