*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/home4.jpg");
    background-position: absolute;
    background-size: cover;
   
}
.box
{
    position: relative;
    width: 420px;
    height: 500px;
    background: transparent;
    border-radius: 8px;
    color: transparent;
    /*overflow: hidden;*/
}
.form
{
    position: absolute;
    inset: 2px;
    background: none;
    z-index: 10;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}
.form-input-box {
    border: solid;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    padding: 0 45px;
}
.form h1
{
    color: rgb(177, 238, 238);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.inputBox
{
    position: relative;
    width: 300px;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.inputBox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 248, 248);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
    font-family: 'Times New Roman', Times, serif;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color:#efebeb;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #faffff;
    transform:  translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;

}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
  height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.a{
    margin: 10px 0;
    font-size: 00.75em;
    color: #050505;
    text-decoration: none;
}
.links a :hover,
.links a:nth-child(2)
{
    color: #298690;
}
input[type="submit"] {
    background-color: transparent;
    padding:  10px 100px;
    margin-bottom: 50px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    text-align: center;
    display: inline-block;
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    color: #85d2db;

}
