*{

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav{

    background: #097c96;
    line-height: 80px;
    position: fixed;
    width: 100%;
    border-radius: 2px;
}

nav i{
    color: rgb(200, 188, 172);
    font-size: 29px;
    margin-right: 29px;
    
}


label{
     
    line-height: 70px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 56, 85);
    font-weight: 200;
    margin-left: 30px;
    cursor:pointer;
}

label i{

    color: antiquewhite;
    font-size: 29px;
    margin-right: 29px;
    
}

.side-menu{

    position: fixed;
    background: #1a9dac;
    width: 250px;
    height: 100%;
    margin-top: 80px;
}

.side-menu a{

    display: block;
    line-height: 60px;
 
    transition: 0.5s;
}

.side-menu a:hover{

    background: #0de982;
    padding-left: 20px;

}

.side-menu span{
     font-size: 20px;
     margin-left: 10px;
     color: antiquewhite;
}

.side-menu i{

    font-size: 20px;
    margin-left: 20px;
    color: rgb(216, 188, 251);
}

nav .menu-bar{

    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}

#menu{
    display: none;
}

@media (max-width:850px){

   
    .side-menu{

        width: 100px;
    }

    .side-menu a i{
        
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }
}
.box{
    margin-left: 300px;
    padding: 250px;
}
